<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/body'">body</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/template'">template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/reactive'">reactive</a>
      </li>
    </ul>

    <div class="form-inline navbar-nav ml-auto">
        <div class="md-form my-0">
          <input type="text" class="form-control mr-sm-2" [(ngModel)]="value" (keydown)="onPubish()" placeholder="publish">
        </div>
    </div>
  </nav>
