<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group" ngmodelgroup="group1">
        <label for="firstName">firstName: </label>
        <input type="text" class="form-control" ngModel id="firstName"
        name="firstName" #firstName="ngModel"
        required minlength="3" maxlength="5"
        [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }">
        <p *ngIf="firstName.errors?.required && firstName.touched">firstName is required</p>
        <p *ngIf="firstName.errors?.minlength">minimum length is 3 characters</p>
        <p *ngIf="firstName.errors?.maxlength">maximum length is 5 characters</p>

        <label for="lastName">lastName: </label>
        <input type="text" class="form-control" ngModel id="lastName"
        name="lastName" #lastName="ngModel"
        required minlength="3" maxlength="5"
        [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }">
        <p *ngIf="lastName.errors?.required && lastName.touched">lastName is required</p>
        <p *ngIf="lastName.errors?.minlength">minimum length is 3 characters</p>
        <p *ngIf="lastName.errors?.maxlength">maximum length is 5 characters</p>
    </div> 
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>