<form [formGroup]="f" (ngSubmit)="onSubmit(f)">
    <div class="form-group" formGroupName="group1">
      
      <label for="email">email: </label>
        <input type="email" class="form-control" id="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid':  f.controls.group1.controls.email.invalid }">
        <p *ngIf="f.get('group1.email').hasError('required')">email is required</p>
        <p *ngIf="f.get('group1.email').hasError('email')">please enter a valid email address</p>
        <p *ngIf="f.get('group1.email').hasError('emailDomain')">please enter a valid domain email address</p>
        <label for="firstName">firstName: </label>
        <input type="text" class="form-control" id="firstName"
        formControlName="firstName"
        [ngClass]="{ 'is-invalid':  f.controls.group1.controls.firstName.invalid }">
        <p *ngIf="f.get('group1.firstName').hasError('required')">firstName is required</p>
        <p *ngIf="f.get('group1.firstName').hasError('minlength')">minimum length is 3 characters</p>
        <p *ngIf="f.get('group1.firstName').hasError('maxlength')">maximum length is 5 characters</p>

        <label for="lastName">lastName: </label>
        <input type="text" class="form-control" id="lastName"
        formControlName="lastName"
        [ngClass]="{ 'is-invalid':  f.controls.group1.controls.lastName.invalid }">
        <p *ngIf="f.get('group1.lastName').hasError('required')">lastName is required</p>
        <p *ngIf="f.get('group1.lastName').hasError('minlength')">minimum length is 3 characters</p>
        <p *ngIf="f.get('group1.lastName').hasError('maxlength')">maximum length is 5 characters</p>
    </div> 
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
